@font-face{
    font-family:'soehne-dreiviertelfett';
    src: url("fonts/redacted-title.woff2") format("woff2");
}

@font-face{
    font-family:'soehne-buch';
    src: url("fonts/redacted-body.woff2") format("woff2");
}

:root {
    --secondary-color: #FFFDE9;
    --primary-color: #181818;
    --tertiary-color: #FFFDE9;
    --yellow: #FFD252;
    --red: #FF595E;
    --green: #8AC926;
    --blue: #1982C4;
    --purple: #6A4C93;
    --default-text-color: var(--secondary-color);
    --default-bg-color: var(--primary-color);
    --secondary-text-color: var(--primary-color);
    --secondary-bg-color: var(--secondary-color);
    --intro-text-size: 2.8vw;
    --headshot-width: 70vw;
    --bio-par-size: 2.5vw;
}

@media only screen and (min-width: 992px) {
    :root {
      --intro-text-size: 1.8vw;
      --headshot-width: 400px;
      --bio-par-size: 1.59vw;
    }
}
    
body{
    font-family: "soehne-buch";
    background-color: var(--default-bg-color);
    color: var(--default-text-color)
}

.custom-navbar{
    font-family: "soehne-dreiviertelfett";
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: var(--default-bg-color);
}

.contains-navbar-insides{
    padding: 0 !important;
    border-bottom: 4px solid var(--primary-color);
}

.minimized-navbar-insides{
    border-bottom: 3px solid var(--default-text-color);
}

.top-left-name-text{
    font-family: "soehne-dreiviertelfett";
    font-weight: 600 !important;
    color: var(--default-text-color);
}

.social-link{
    transition: .2s;
}

.social-link:hover{
    transform: scale(1.5);
}

.linkedin-img:hover{
    margin-right: 5px !important;
}

.github-img:hover{
    margin-left: 10px !important;
}

.nav-pages{
    float: right !important;
}

.nav-link{
    font-family: "soehne-dreiviertelfett";
    
    --initialTextColor: var(--default-text-color);
    --slideTextColor: var(--secondary-text-color);

    --initialBgColor: var(--default-bg-color);

    color: var(--initialTextColor);

    background-image: linear-gradient(180deg,
        var(--initialBgColor) 0%,
        var(--initialBgColor) 48%,
        var(--slideBgColor) 48%,
        var(--slideBgColor) 100%);
    background-size: 100% 200%;
    transition: background-position .25s cubic-bezier(.9, 0, .5, 1), color .2s linear;
    transition-delay: 0s, 0.1s;
}

.nav-link-active{
    --initialTextColor: var(--secondary-text-color);
    --slideTextColor: var(--default-text-color);
    background-image: none;
    background-color: var(--slideBgColor);
    color: var(--initialTextColor);
    transition: color .2s linear;
    transition-delay: 0s, 0.1s;

    text-decoration: none;
}

.nav-link:hover{
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: 0% 100%;
}

.nav-link-active:hover{
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: 0% 100%;
}

.navbar-toggler-icon{
    background-image: url(img/hamburger-cream.png);
}

.navbar-toggler:focus{
    box-shadow: none;
}

  
.navbar-toggler[aria-expanded="true"] .rotate-icon {
    transform: rotate(-90deg);
}

.rotate-icon {
    transition: transform 0.5s ease;
}

.nl-home{
    --slideBgColor: var(--green);
}

.nl-about{
    --slideBgColor: var(--blue);
}

.nl-projects{
    --slideBgColor: var(--red);

    text-align: center;
    line-height: 125%;
}

.nl-resume{
    --slideBgColor: var(--yellow);
}

.nl-contact{
    --slideBgColor: var(--purple);
}

.top-left-name{
    font-family: "Helvetica Neue";
    font-weight: 600 !important;
}

.fill-screen{
    min-height: 100vh;
}

.diagonal-bg{
    background: linear-gradient(-70deg, #EEEEEE 0%, #EEEEEE 30%, transparent 30%);
    background-size: 100%;
}

.btn-link{
    text-decoration: none;
}

.link-btn{
    background-color: var(--default-bg-color);
    padding: 7px;
    padding-top: 0px;
    padding-bottom: 4px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;

    --initialTextColor: var(--default-text-color);
    --slideTextColor: var(--secondary-text-color);

    --initialBgColor: var(--default-bg-color);

    color: var(--initialTextColor);

    background-image: linear-gradient(180deg,
        var(--initialBgColor) 0%,
        var(--initialBgColor) 50%,
        var(--slideBgColor) 50%,
        var(--slideBgColor) 100%);
    background-size: 100% 250%;
    transition: background-position .25s cubic-bezier(.9, 0, .5, 1), color .2s linear;
    transition-delay: 0s, 0.1s;
}

.link-btn:hover{
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: 0% 100%;
}

.home-btn{
    padding-bottom: 2px;
    border-color: var(--green);
    --slideBgColor: var(--green);
}

.abt-btn{
    padding-top: .25vw !important;
    border-color: var(--blue);
    --slideBgColor: var(--blue);
}

.proj-btn{
    border-color: var(--red);
    --slideBgColor: var(--red);
}

.res-btn{
    border-color: var(--yellow);
    --slideBgColor: var(--yellow);
}

.contact-btn{
    padding-top: .25vw !important;
    border-color: var(--purple);
    --slideBgColor: var(--purple);
}

.intro-hey{
    font-family: 'soehne-dreiviertelfett';
    font-size: 11vw;
    margin-bottom: 0;
}

.intro-text{
    font-size: var(--intro-text-size);
    margin-bottom: 0;
}

.intro-subheader{
    font-family: 'soehne-dreiviertelfett';
    font-size: 3vw;
    margin-bottom: 6px;
}

.headshot{
    width: var(--headshot-width);
}

.bio-par{
    text-align: justify;
    padding: 2;
    font-size: var(--bio-par-size);
}

.proj-par{
    text-align: justify;
}

.par-link{
    color: var(--default-text-color);
    text-decoration: underline;
}

.par-link-inv{
    color: var(--secondary-text-color);
    text-decoration: underline;
}

.par-link:hover{
    color: var(--blue);
}

.par-link-inv:hover{
    color: var(--blue);
}

.subhead-link{
    text-decoration: none;
    color: var(--default-text-color);
}

.bottom-div{
    flex-grow: 1;
}

.bio-header{
    font-family: 'soehne-dreiviertelfett';
    font-size: 11vw;
}

.footer{
    background-color: var(--secondary-bg-color); 
    height: 30px;
    border-top: 4px solid var(--default-bg-color);
    font-size: 14px;
    color: var(--secondary-text-color);
}